# ----------------------------------------------------------------
# BackEnd System Integrated Development Environment for PHP
# Version: 0.9.2
# ----------------------------------------------------------------
version: "3"
services:
  app:
    build:
      context: ./
      args:
        # PHP Version ["7.4", "8.0", "8.1", "8.2", "8.3", "8"(default)]
        PHP_VERSION: "8.3"
        # Laravel Version ["9.*", "10.*", "11.*"(default)]
        LARAVEL_VERSION: "12.*"
        # プロジェクトソースのうち公開するディレクトリ [""(default) , "html", "app/public"]
        PUBLIC_DIR: "app/public"
    ports:
      - "80:80"
    environment:
      TZ: "Asia/Tokyo"
      # https://xdebug.org/docs/all_settings#mode
      XDEBUG_MODE: "debug"
      # https://xdebug.org/docs/all_settings#start_with_request
      XDEBUG_START_WITH_REQUEST: "yes"
      # https://xdebug.org/docs/all_settings#idekey
      XDEBUG_IDEKEY: "VSCODE"
      # https://laravel.com/docs/10.x/installation#databases-and-migrations
      DB_HOST: "mysql"
      DB_DATABASE: "ministagam_db"
      DB_USERNAME: "t-ha3minist"
      DB_PASSWORD: "tH8dV30&or5"
    volumes:
      - ".:/var/www/app"
      - "app-vendor:/var/www/app/vendor"

  mysql:
    image: mysql:8.0.36
    command:
      - "--character-set-server=utf8mb4"
      - "--collation-server=utf8mb4_0900_ai_ci"
    environment:
      TZ: "Asia/Tokyo"
      MYSQL_DATABASE: "ministagam_db"
      MYSQL_USER: "t-ha3minist"
      MYSQL_PASSWORD: "tH8dV30&or5"
      MYSQL_RANDOM_ROOT_PASSWORD: "yes"
#    volumes:
#      - "mysql:/var/lib/mysql"
#      - "./vendor/laravel/sail/database/mysql/create-testing-database.sh:/docker-entrypoint-initdb.d/10-create-testing-database.sh"
    cap_add:
      - SYS_NICE

  phpmyadmin:
    image: phpmyadmin
    ports:
      - "8080:80"
    environment:
      PMA_ARBITRARY: 1

  mailpit:
    image: axllent/mailpit
    ports:
      - '1025:1025'
      - '8025:8025'

volumes:
  app-vendor:
#  mysql:
